/* 基礎樣式，全域生效 */
@import './_base.css';

/* 可選用的工具類 */
@import './utilities/_scrollbar.css';
@import './utilities/_grid-background.css';
@import './utilities/_chip.css';
@import './utilities/_overlay-header.css';
@import './utilities/_glass-card.css';
@import './utilities/_glass-sheet.css';
@import './utilities/_glass-menu.css';
@import './utilities/_rwd-text.css';

/* 主題定義與變數覆蓋 */
@import './themes/_app.css';

/* 字體樣式 */
@import './fonts/LXGWWenKaiLite/fonts.css';
@import './fonts/NotoSansSC/fonts.css';
@import './fonts/NotoSansJP/fonts.css';
@import './fonts/NotoSans/fonts.css';

:root {
  --font-noto: 'Noto Sans', 'Noto Sans SC', 'Noto Sans JP', sans-serif;
  --font-wenkai: 'LXGW WenKai Lite', sans-serif;
}
.font-noto {
  font-family: var(--font-noto);
}
.font-wenkai {
  font-family: var(--font-wenkai) !important;
}
