/* 基礎樣式，全域生效 */
@import './_base.css';

/* 可選用的工具類 */
@import './utilities/_scrollbar.css';
@import './utilities/_grid-background.css';
@import './utilities/_chip.css';
@import './utilities/_overlay-header.css';
@import './utilities/_glass-card.css';
@import './utilities/_glass-sheet.css';
@import './utilities/_glass-menu.css';
@import './utilities/_rwd-text.css';

/* 主題定義與變數覆蓋 */
@import './themes/_app.css';

/* 字體樣式 */
@import './fonts/LXGWWenKaiLite/fonts.css';
@import './fonts/Xiaolai/fonts.css';
@import './fonts/ChillRoundGothic_Bold/fonts.css';
@import './fonts/ChillRoundGothic_ExtraLight/fonts.css';
@import './fonts/ChillRoundGothic_Heavy/fonts.css';
@import './fonts/ChillRoundGothic_Light/fonts.css';
@import './fonts/ChillRoundGothic_Medium/fonts.css';
@import './fonts/ChillRoundGothic_Normal/fonts.css';
@import './fonts/ChillRoundGothic_Regular/fonts.css';
@import './fonts/DINCond-Regular/fonts.css';
@import './fonts/DINCond-Bold/fonts.css';

:root {
  --font-wenkai: 'LXGW WenKai Lite', sans-serif;
}

.font-wenkai {
  font-family: var(--font-wenkai) !important;
}

.font-DINCond {
  font-family: 'DINCond-Bold', 'DINCond-Regular', sans-serif !important;
}
